*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Sans-Serif;
}
body{
    line-height: 1.5;   
}
  /* about us */
  .aboutus-contents{
    text-align: center;
    margin-top: 110px;
  }
.aboutus-contents h3 {
    padding: 3.07vw 0;
    font-weight: 600; 
  }
  .aboutus-contents p{
    font-weight: 600;
  }
 
  .aboutus-banner {
    display: flex;
    justify-content: center;
    position: relative;     
    height: 90vh;
  }



@media screen and (min-width:761px) and (max-width:1120px){
    .aboutus-banner{
        height: 15%;
    }   
    .aboutus-contents{
        width: 60%;
    }
    .aboutus-contents h3 {
        padding: 3.07vw 0;
        font-size: 2.5vw;
        font-weight: 600;
       
      }
      .aboutus-contents p{
        font-size: 2.2vw;
        font-weight: 600;
      }
      .aboutus-left{
        position: absolute;
        bottom: 0; 
        right: 0; 
        width: 40%;
    }
    .aboutus-right{
        position: absolute;
        bottom  : 0;
        left: 0;
        width: 40%;
    }
    
}
@media screen and (min-width:280px) and (max-width:760px){
    .aboutus-banner{
        height: 8%;
    }
    .aboutus-contents{
        width: 60%;
    }  
    .aboutus-contents h3 {
        padding: 3.07vw 0;
        font-size: 2.1vw;
        font-weight: 600;
       
      }
      .aboutus-contents p{
        font-size: 2vw;
        font-weight: 600;
      } 
      .aboutus-right{
        width: 38%;
    position: absolute;
    left: 104px;
    top: 55px;
}
.aboutus-left{
    display: none;
 }
}
   


 /* ABOUT US CONTENTS */
.contents{
    padding: 3vw 5vw;
}
.contents-header{
    line-height: 3vw;
}
.contents-header h3{
    padding: 3.07vw 0;
    font-size: 2vw;
    font-weight: 600;
}
.contents-header p{
    font-size: 1.8vw;
    font-weight: 500;
    
}
.contents-header button{
    font-size: 1.2vw;
    font-weight: 600;
    border: none;
    background-color: transparent;
}
  
    
    /* testimonials */
.testimonials{
    margin-top: 30px;
   
}
.card-1{
    border: 1px solid black;
    position: relative;
    border-radius: 5px;
}
.icon{
    font-size: 80px;
    left: 30px;
    top: -40px;

}
.card-contents-1{
    padding: 3vw 5vw;
}
.card-contents-1 p{
    font-size: 20px;
    font-weight: 700;    
}
.card-contents-1 a{
    font-weight: 500;
}

.card-contents-1 h3{
    font-size: 25px;
    margin-top: 50px;
}
@media screen and (min-width: 761px) and (max-width: 1120px)
{
    .card-1{
        width: 80%;
    }
    .icon{
        font-size: 90px;
        left: 3vw;
        top: -5vw;
    
    }
    .card-contents-1{
        padding: 35px;
       
    }
    .card-image img{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 44%;
       
    }
}
@media screen and (min-width: 280px) and (max-width: 760px){
    .card-1{
        width: 100%;
    }
    .card-contents-1{
        padding: 5px;
       
    }
}
  /* SLIDES */
.mySlides {
    display: none;
}
img 
{
    vertical-align: middle;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* .active, .dot:hover {
  background-color: #717171;
} */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

    /* DESIGN QUOTE */
  .design-quote{
    padding: 50px 30px;
}
  .design h3{
    padding: 10px 200px;

}
.design-btn{
    margin-bottom: 30px;
}

button[type=submit] {
padding: 15px 40px;
border: none;
border-radius: 8px;
background-color: transparent;
border: #cacaca solid 1px;
position: relative;
overflow: hidden;
cursor: pointer;
}

button[type=submit]::before {
content: '';
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
border-radius: 8px;
z-index: -1;
}
button[type=submit]:hover::before {
background-color: #031f4b;

animation: loadingWave 0.3s linear;
}
button[type=submit]:hover{
color: #edf6fc;
}

@keyframes loadingWave {
0% {
    clip-path: polygon(0% 100%, 100% 100%, 99% 100%, 81% 100%, 64% 100%, 46% 100%, 29% 100%, 14% 100%, 0 100%);
}

10% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 90%, 84% 94%, 66% 95%, 47% 94%, 31% 95%, 14% 96%, 0 94%);    
}

20% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 74%, 81% 72%, 63% 72%, 44% 75%, 33% 77%, 16% 78%, 0 74%);                
}

40% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 53%, 85% 55%, 67% 58%, 44% 54%, 30% 48%, 15% 47%, 0 49%);                
}

60% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 24%, 86% 25%, 69% 29%, 53% 34%, 37% 38%, 18% 40%, 0 38%); 
}

80% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 22%, 84% 29%, 67% 31%, 45% 27%, 26% 17%, 12% 14%, 0 15%);    
}

90% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 5%, 86% 10%, 73% 10%, 55% 6%, 33% 3%, 15% 5%, 0 9%);   
}

100% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0, 86% 0, 71% 0, 55% 0, 34% 0, 18% 0, 0 0);    
}
}

@media screen and (min-width:1021px) and (max-width:1299px){
.design-quote{
    padding: 40px 20px;
  width: 100%;
  height: 50%;
  margin-bottom: 30px;
}
.design h3{
    padding: 20px 20px;
}
}
@media screen and (min-width:761px) and (max-width:1020px){
.design-quote{
  padding: 40px 20px;
  width: 95%;
  height: 25vh;
  margin-bottom: 30px;
}
.design h3{
    padding: 20px 20px;
}
}
@media screen and (min-width:280px) and (max-width:760px){
.design-quote{
  padding: 20px 20px;
  width: 95%;
  height: 40vh;
  margin-bottom: 30px;
}
.design h3{
    width: 100%;
    font-size: 24px;
    padding: 20px 10px;
}
}


/* FOOTER */
.footer{
padding: 50px 50px;

}
.container{  
margin: auto;
}
ul{
list-style: none;
}
.footer-col-1{
padding: 0 15px;
}
.footer-col-2{
padding: 0 15px;
}

.footer-col-2 h4{
text-transform: capitalize;
margin-bottom: 35px;
position: relative;
cursor: pointer;
}
.footer-col-2 h4::before{
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: #edf6fc;
height: 2px;
width: 50px;
box-sizing: border-box;
}
.footer-col-2 ul li:not(:last-child){
margin-bottom: 10px;

}
.footer-col-1 p{
text-transform: capitalize;
text-decoration: none;
font-weight: 300;
display: block;
}
.footer-col-2 ul li {
text-transform: capitalize;
text-decoration: none;
font-weight: 300;
display: block;
}
.footer-col-2 li{
cursor: pointer;
}
.footer-col-2 ul li a{
text-transform: capitalize;
text-decoration: none;
font-weight: 300;
display: block;
transition: all 0.3s ease;
}
.footer-col-2 ul li a:hover{
color: #edf6fc;
padding-left: 8px;
}

@media screen and (min-width: 761px) and (max-width: 1120px){
.footer{
    padding: 40px 20px;
}
.footer-col-1{
    width: 100%; 
    margin-bottom: 30px;  
}
.footer-col-2{
    width: 100%; 
    margin-bottom: 30px;  
}
.footer-col-1 img{
    width: 40%;
    margin-bottom: 30px;
}
}

@media screen and (min-width: 320px) and (max-width: 760px){
.footer{
    padding: 40px 20px;
}
.footer-col-1{
    width: 100%; 
    margin-bottom: 30px;  
   
}
.footer-col-2{
    width: 100%; 
    margin-bottom: 30px;  
}
.footer-col-1 img{
    margin-bottom: 30px;
}
}



html {
	scroll-behavior: smooth;
}

/* 2. Make nav sticky */
main > nav {
	position: sticky;
	top: 2rem;
	align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
	color: #333;
	font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
	padding-left: 0;
	border-left: 1px solid #efefef;
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
	color: #666;
}

/** Poor man's reset **/
* {
	box-sizing: border-box;
}

html, body {
	background: #fff;
}



ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
li a{
	margin-left: 1rem;
    font-size: 50px;
    font-weight: 600;

   
}

h1 {
	font-weight: 300;
}

/** page layout **/
main {
	display: grid;
	grid-template-columns: 1fr 15em;
	max-width: 100em;
	width: 90%;
	margin: 0 auto;
}

/** enlarge the sections for this demo, so that we have a long scrollable page **/
section {
	padding-bottom: 50rem;
}
