* {
  margin: 0;
  padding: 0;
}
.font-md-client {
  line-height: 1.3;
  font-family: "gotham-bold", sans-serif;
}
.clnt {
  font-size: 1.4vw;
  font-family: "gotham-bold";
}
.p-font {
  font-family: "gotham-bold", sans-serif;
  line-height: 1.2;
}
.font-md-cli {
  font-family: "gotham-bold", sans-serif;
}
