/* .contact-form-left{
    gap: 20px;
}
.contact-form-left input{
    border: none;
    border-bottom: 2px solid #394963;
}
.contact-form-left textarea{
    border: none;
    border-bottom: 2px solid #394963;
}

.contact-form-left button{
    color: white;
    border: none;
    background-image: linear-gradient(90deg, #1973d1, #8bbef5);
}

.mapouter{
    text-align:right; 
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;   
}
.gmap_iframe {
    width:500px!important;
    height:300px!important;
}
.location-col-2{
    gap: 30px;
}

.contact-form-left input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.contact-form-left textarea:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.contact-form-right {
    justify-content: center;
}
 
@media screen and (min-width: 280px) and (max-width: 760px) {
    .location-col-2{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer{
        margin: 0;
    }
} */
.icon {
  padding-left: 6px;
  padding-right: 6px;
}
.fx-header {
  /* background-color: #0000008c; */
  height: 100%;
}
.fx-hr {
  border: 1px solid #80808022;
}
.line {
  border-bottom: 5px solid pink;
  width: 4vw;
}
.card-contact-us {
  padding: 2vw 0;
  background: white;
  width: 30%;
  height: 14vw;
  border: 1px solid #80808022;
}
.card-contact-us:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 10px -10px rgb(0 0 0 / 50%);
  z-index: 10;
  transition: 0.4s ease-in-out;
}
.card-contact {
  height: 24vw;
  background: white;
  width: 100%;
  margin: 1vw 2vw;
  border: 1px solid #80808022;
}
.card-contact:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 10px -10px rgb(0 0 0 / 50%);
  z-index: 10;
  transition: 0.4s ease-in-out;
}
input {
  border-radius: 6px;
  padding: 1vw 1.5vw;
  margin: 0 0 1vw 0;
}
.textarea-2 {
  height: 9vw;
  border-radius: 10px;
  width: 38vh;
  margin-bottom: 10px;
  background-color: transparent;
  border: 2px solid white;
}
textarea {
  border-radius: 7px;
  height: 9vw;
  border-radius: 10px;
  padding: 6px;
}
.btn-n {
  border: none;
}
.btn-n:hover {
  transition: all 2s ease-in-out;
  background-image: url(../images/Contactpage.jpg);
}
.btn {
  float: right;
}

@media screen and (min-width: 280px) and (max-width: 760px) {
  .card-contact-us {
    padding: 2vw 0;
    background: white;
    width: 100%;
    height: 60vw;
    margin-bottom: 10px;
    border: 1px solid #80808022;
    flex-wrap: wrap;
  }
  .btn-n {
    border: none;
    border-radius: 25px;
    padding: 12px;
  }
  .card-contact {
    height: 70vw;
    background: white;
    border: 1px solid #80808022;
  }

  .img {
    margin-top: -10px;
  }
  .form-container input[type="text"],
  .form-container input[type="password"] {
    display: flex;
    /* border-left: 80px; */
    /* justify-content: center; */
    padding: 14px;
    /* align-items: center; */
    /* margin: 5px 0 22px 0; */
    border: none;
    background: #f1f1f1;
    width: 92%;
    margin-bottom: 10px;
    border-radius: 7px;
  }
  .form-container {
    width: 65vw !important;
    padding: 53px !important;
    min-height: 30vh !important;
    background-color: white !important;
    background-color: #000000d9 !important;
    padding-left: 29px !important;
    padding-right: 42px !important;
    padding-bottom: 69px !important;
    padding-top: 10px !important;
  }
  .form-container ::placeholder {
    font-size: 3vw !important;
  }
  .textarea-2 {
    height: 9vw !important;
    border-radius: 10px !important;
    width: 38vh !important;
    margin-bottom: 10px !important;
    background-color: transparent !important;
    border: 2px solid white !important;
  }
  .textarea-2 {
    height: 16vw !important;
    border-radius: 10px !important;
    padding: 2px !important;
    background-color: #f1f1f1 !important;
    width: 43vh !important;
    margin-bottom: 10px !important;
  }
  .form-popup {
    /* display: none; */
    position: fixed !important;
    bottom: 179px !important;
    right: 42px !important;
    border: 3px solid #f1f1f1 !important;
    z-index: 9 !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .card-contact-us {
    width: 30%;
    height: 34vh;
  }
  .form-container ::placeholder {
    font-size: 2vw !important;
  }
  .textarea-2 {
    height: 9vw !important;
    border-radius: 10px !important;
    width: 38vh !important;
    margin-bottom: 10px !important;
    background-color: transparent !important;
    border: 2px solid white !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2570px) {
  .bnr-contact-img {
    width: 100%;
  }
  ::placeholder {
    font-size: 1vw;
  }
}

/*  */
/* .cf_trigger {
  position: fixed;
  right: -106px;
  top: 50%;
  background: blue;
  color: black;
  padding: 12px 22px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%) rotate(90deg);
  border-radius: 0 0 5px 5px;
  z-index: 100;
}
.cf_trigger:hover {
  color: black;
  text-decoration: none;
  background: palevioletred;
}
.cf_box {
  position: fixed;
  right: 0;
  bottom: 30px;
  width: 320px;
  z-index: 1000;
  padding: 25px;
  background: blue;
  color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  min-height: 200px;
  transform: translate(-120%);
}
.cf_box.active {
  transform: translate(0%);
}
input:not([type="submit"]).textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  border: 1px solid #000;
}
input[type="submit"] {
  background: pink;
  cursor: pointer;
  color: white;
  width: 150px;
  margin: 0 auto;
  display: block;
  padding: 8px;
  border: 0;
  transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background-color: purple;
}
.cf_close {
  position: absolute;
  right: 100%;
  top: 0;
  color: blue;
  cursor: pointer;
  font-size: 24px;
  background: plum;
  padding: 0 5px;
  border-radius: 3px 0 0 3px;
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.2);
} */
.open-button {
  position: fixed;
  right: -95px;
  top: 50%;
  font-weight: bold;
  background-image: url(../images/Contactpage.jpg);
  color: white;
  padding: 12px 22px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%) rotate(90deg);
  border-radius: 0 0 5px 5px;
  z-index: 100;
  border: none;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  width: 38vh;
  /* padding: 60px; */
  /* height: 30vh; */
  background-color: white;
  background-image: url(../images/Contactpage.jpg);
  padding-left: 54px;
  padding-right: 68px;
  padding-bottom: 115px;
  padding-top: 56px;
}

/* Full-width input fields */
/* .form-container input[type="text"],
.form-container input[type="password"] {
  width: 85%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
} */
.form-container input[type="text"],
.form-container input[type="password"] {
  display: flex;
  /* border-left: 80px; */
  /* justify-content: center; */
  padding: 15px;
  /* align-items: center; */
  /* margin: 5px 0 22px 0; */
  border: 2px solid white;
  background: transparent;
  width: 95%;
  border-radius: 7px;
}
.form-container ::placeholder {
  color: white;
  font-size: 1vw;
  font-weight: bold;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
.submit-btn {
  color: white;
  font-weight: bold;
  font-size: 17px;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background: transparent;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  /* opacity: 0.8; */
  border: 2px solid white;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-image: linear-gradient(#662d8c, #ed1e79);
  width: 15px;
  float: right;
  border-radius: 50px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
  background: rgb(1, 1, 44);
  transition: 0.4s ease-in-out;
  box-shadow: 2px 2px #8bbef5;
  transition: all 2s ease-in-out;
  border: 1px solid white;
}
button[type="submit"] {
  border: none;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn-top {
  background: transparent;
  border-radius: 16%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  border: 2px solid white;
}
.btn-top:hover {
  background-image: linear-gradient(#4e65ff, #92effd);
  transition: 0.4s ease-in-out;
}
.contact-heading {
  color: white;
  font-weight: bold;
  font-size: 28px;
  display: flex;
  justify-content: center;
}
/*  */
