*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-form{
    font-family: 'gotham-bold', sans-serif;
}
.col{ 
    flex-wrap: wrap;
    margin: 30px 0 10px;
}
.input [type="submit"]{
    padding: 20px 30px;
}
.location-page{
    font-family: 'gotham-bold', sans-serif;
}
.mapouter{
    text-align:right; 
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;   
}
.gmap_iframe {
    width:600px!important;
    height:400px!important;
}
.location-col-2{
    gap: 30px;
}
.address-col{
    gap: 10px;
}

  /* / DESIGN QUOTE / */
.design-quote{
    padding: 50px 30px;
}

.design-btn{
    margin-bottom: 30px;
}

button[type=submit] {
padding: 15px 40px;
border: none;
border-radius: 8px;
background-color: transparent;
border: #cacaca solid 1px;
position: relative;
overflow: hidden;
cursor: pointer;
}

button[type=submit]::before {
content: '';
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
border-radius: 8px;
z-index: -1;
}
button[type=submit]:hover::before {
background-color: #031f4b;

animation: loadingWave 0.3s linear;
}
button[type=submit]:hover{
color: #edf6fc;
}

@keyframes loadingWave {
0% {
    clip-path: polygon(0% 100%, 100% 100%, 99% 100%, 81% 100%, 64% 100%, 46% 100%, 29% 100%, 14% 100%, 0 100%);
}

10% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 90%, 84% 94%, 66% 95%, 47% 94%, 31% 95%, 14% 96%, 0 94%);    
}

20% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 74%, 81% 72%, 63% 72%, 44% 75%, 33% 77%, 16% 78%, 0 74%);                
}

40% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 53%, 85% 55%, 67% 58%, 44% 54%, 30% 48%, 15% 47%, 0 49%);                
}

60% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 24%, 86% 25%, 69% 29%, 53% 34%, 37% 38%, 18% 40%, 0 38%); 
}

80% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 22%, 84% 29%, 67% 31%, 45% 27%, 26% 17%, 12% 14%, 0 15%);    
}

90% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 5%, 86% 10%, 73% 10%, 55% 6%, 33% 3%, 15% 5%, 0 9%);   
}

100% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0, 86% 0, 71% 0, 55% 0, 34% 0, 18% 0, 0 0);    
}
}

@media screen and (min-width:1021px) and (max-width:1299px){
.design-quote{
    padding: 40px 20px;
  width: 100%;
  height: 50%;
  margin-bottom: 30px;
}
.design h3{
    padding: 20px 20px;
}
}
@media screen and (min-width:761px) and (max-width:1020px){
.design-quote{
  padding: 40px 20px;
  width: 95%;
  height: 25vh;
  margin-bottom: 30px;
}
.design h3{
    padding: 20px 20px;
}
}
@media screen and (min-width:280px) and (max-width:760px){
.design-quote{
  padding: 20px 20px;
  width: 95%;
  height: 40vh;
  margin-bottom: 30px;
}
.design h3{
    width: 100%;
    font-size: 24px;
    padding: 20px 10px;
}
}


/* / FOOTER / */
.footer{
font-family: 'gotham-thin', sans-serif;
padding: 50px 50px;

}
.container{  
margin: auto;
}
ul{
list-style: none;
}

.footer-col-2 h4{
margin-bottom: 35px;
position: relative;
cursor: pointer;
}
.footer-col-2 h4::before{
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: #edf6fc;
height: 2px;
width: 50px;
box-sizing: border-box;
}
.footer-col-2 ul li:not(:last-child){
margin-bottom: 10px;

}
.footer-col-1 p{
text-decoration: none;
font-weight: 300;
}
.footer-col-2 ul li {
text-decoration: none;
font-weight: 300;
}
.footer-col-2 li{
cursor: pointer;
}
.footer-col-2 ul li a{
text-transform: capitalize;
text-decoration: none;
font-weight: 300;
display: block;
transition: all 0.3s ease;
}
.footer-col-2 ul li a:hover{
color: #edf6fc;
padding-left: 8px;
}

@media screen and (min-width: 761px) and (max-width: 1120px){
.footer{
    padding: 40px 20px;
}
.footer-col-1{
    width: 100%; 
    margin-bottom: 30px;  
}
.footer-col-2{
    width: 100%; 
    margin-bottom: 30px;  
}
.footer-col-1 img{
    width: 40%;
    margin-bottom: 30px;
}
}

@media screen and (min-width: 320px) and (max-width: 760px){
.footer{
    padding: 40px 20px;
}
.footer-col-1{
    width: 100%; 
    margin-bottom: 30px;  
   
}
.footer-col-2{
    width: 100%; 
    margin-bottom: 30px;  
}
.footer-col-1 img{
    margin-bottom: 30px;
}
}

