.contact-form-left{
    gap: 20px;
}
.contact-form-left input{
    border: none;
    border-bottom: 2px solid #394963;
}
.contact-form-left textarea{
    border: none;
    border-bottom: 2px solid #394963;
}

.contact-form-left button{
    color: white;
    border: none;
    background-image: linear-gradient(90deg, #1973d1, #8bbef5);
}

.mapouter{
    text-align:right; 
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;   
}
.gmap_iframe {
    width:500px!important;
    height:300px!important;
}
.location-col-2{
    gap: 30px;
}

.contact-form-left input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.contact-form-left textarea:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.contact-form-right {
    justify-content: center;
}
 
@media screen and (min-width: 280px) and (max-width: 760px) {
    .location-col-2{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer{
        margin: 0;
    }
}
