body {
  margin: 0;
}

/* / width / */

.w100 {
  width: 100%;
}

.w95 {
  width: 95%;
}

.w90 {
  width: 90%;
}

.w85 {
  width: 85%;
}

.w80 {
  width: 80%;
}

.w75 {
  width: 75%;
}

.w70 {
  width: 70%;
}

.w65 {
  width: 65%;
}

.w60 {
  width: 60%;
}

.w55 {
  width: 55%;
}

.w50 {
  width: 50%;
}

.w45 {
  width: 45%;
}

.w40 {
  width: 40%;
}

.w35 {
  width: 35%;
}

.w30 {
  width: 30%;
}

.w25 {
  width: 25%;
}

.w20 {
  width: 20%;
}

.w18 {
  width: 18%;
}

.w15 {
  width: 15%;
}

.w10 {
  width: 10%;
}

.w5 {
  width: 5%;
}

.w33 {
  width: 33%;
}

.w16 {
  width: 16.666666%;
}

.bw12 {
  width: 12vw;
}

/* Height in VH */

.ht100 {
  height: 100vh;
}

.ht90 {
  height: 90vh;
}

.ht80 {
  height: 80vh;
}

.ht75 {
  height: 75vh;
}

.ht70 {
  height: 70vh;
}

.ht60 {
  height: 60vh;
}

.ht50 {
  height: 50vh;
}

/* Height */

.h100 {
  height: 100%;
}

.h90 {
  height: 90%;
}

.h80 {
  height: 80%;
}

.h75 {
  height: 75%;
}

.h70 {
  height: 70%;
}

.h60 {
  height: 60%;
}

/* / flex center / */

.ab-fx-center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fx-dc {
  display: flex;
  flex-direction: column;
}

.fx-dc-all-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fx-dc-acenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fx-jcenter-dc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fx-dc-jcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fx-spbtw {
  display: flex;
  justify-content: space-between;
}

.fx-ac-spbtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fx-jc-spbtw {
  display: flex;
  justify-content: space-between;
}

.fx-dc-spbtw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fx-dc-spev {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.fx-spev {
  display: flex;
  justify-content: space-evenly;
}

.fx-dr {
  display: flex;
  flex-direction: row;
}

.fx-dr-all-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fx-dr-acenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fx-dr-jcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fx-wrp {
  display: flex;
  flex-wrap: wrap;
}

/* / Tags / */

/* h1 {
  font-size: 3vw;
}
h2 {
  font-size: 3vw;
}
h3 {
  font-size: 2.1vw;
}
h4 {
  font-size: 0.8vw;
}
h5 {
  font-size: 0.6vw;
}
h6 {
  font-size: 0.5vw;
}

p {
    font-size: 1.5vw;
} */

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

a:active,
a:hover,
a:focus {
  outline: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
  border: 0;
  /* / vertical-align: middle; / */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* / Color / */

.dg-blue {
  color: #031f4b;
}

.d-grey {
  color: #394963;
}

.d-blue {
  color: #061993;
}

.l-blue {
  color: #1973d1;
}

.lg-bluec {
  color: #8bbef5;
}

.wl-blue {
  color: #edf6fc;
}

.black {
  color: black;
}

.white {
  color: white;
}

body {
  --primary-blue: #031f4b;
  /* dark-blue */
  --primary-gray: #394963;
  /* dark-grey */
  --md-blue: #061993;
  /* medium-blue */
  --lg-blue: #1973d1;
  /* light-blue */
  --grey-blue: #8bbef5;
  /* dark-blue */
  --white-blue: #edf6fc;
  /* dark-blue */
  --white: #ffffff;
  /* white */
  --black: #000000;
  /* black */
  --primary-lighter-color: #bcbfc4;
  --primary-darker-color: #121926;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

.primary-col {
  background-color: var(--primary-blue);
}

.primary-col2 {
  background-color: var(--primary-gray);
}

.md-blue {
  background-color: var(--md-blue);
}

.lg-blue {
  background-color: var(--lg-blue);
}

.grey-blue {
  background-color: var(--grey-blue);
}

.white-blue {
  background-color: var(--white-blue);
}

/* / text-align / */

.txc {
  text-align: center;
}

.txs {
  text-align: start;
}

.txe {
  text-align: end;
}

/* / Text decoration / */

.tx-dec-n {
  text-decoration: none;
}

.tx-dec-n {
  text-decoration: none;
}

/* / Padding / */

.pad1 {
  padding: 1vw;
}

.pad1-t {
  padding-top: 1vw;
}

.pad1-l {
  padding-left: 1vw;
}

.pad1-r {
  padding-right: 1vw;
}

.pad1-b {
  padding-bottom: 1vw;
}

.pad1-tb {
  padding: 1vw 0;
}

.pad1-rl {
  padding: 0 1vw;
}

.pad2 {
  padding: 1.2vw;
}

.pad2-t {
  padding-top: 1.2vw;
}

.pad2-l {
  padding-left: 1.2vw;
}

.pad2-r {
  padding-right: 1.2vw;
}

.pad2-b {
  padding-bottom: 1.2vw;
}

.pad2-tb {
  padding: 1.2vw 0;
}

.pad2-rl {
  padding: 0 1.2vw;
}

.pad3 {
  padding: 1.5vw;
}

.pad3-t {
  padding-top: 1.5vw;
}

.pad3-l {
  padding-left: 1.5vw;
}

.pad3-r {
  padding-right: 1.5vw;
}

.pad3-b {
  padding-bottom: 1.5vw;
}

.pad3-tb {
  padding: 1.5vw 0;
}

.pad3-rl {
  padding: 0 1.5vw;
}

.pad4 {
  padding: 2vw;
}

.pad4-t {
  padding-top: 2vw;
}

.pad4-l {
  padding-left: 2vw;
}

.pad4-r {
  padding-right: 2vw;
}

.pad4-b {
  padding-bottom: 2vw;
}

.pad4-tb {
  padding: 2vw 0;
}

.pad4-rl {
  padding: 0 2vw;
}

.pad30 {
  padding: 2.31vw 0;
}

.pad60 {
  padding: 4.61vw 0;
}

.padt50 {
  padding-top: 3.846vw;
}

.padb50 {
  padding-bottom: 3.846vw;
}

.padtb50 {
  padding: 3.846vw 0;
}

.padtb100 {
  padding: 7.692vw 0;
}

.padt100 {
  padding-top: 7.692vw;
}

.padb100 {
  padding-bottom: 7.692vw;
}

.pad5-tb {
  padding: 5px 0;
}

.pad5-rl {
  padding: 0 5px;
}

.padinput {
  padding: 15px 10px;
}

/* / Margin / */

.mar0 {
  margin: 0 !important;
}

.mar1 {
  margin: 1vw;
}

.mar1-t {
  margin: 1vw 0 0 0;
}

.mar1-l {
  margin: 0 0 0 1vw;
}

.mar1-r {
  margin: 0 1vw 0 0;
}

.mar1-b {
  margin: 0 0 1vw 0;
}

.mar1-tb {
  margin: 1vw 0;
}

.mar1-rl {
  margin: 0 1vw;
}

.mar2 {
  margin: 1.2vw;
}

.mar2-t {
  margin: 1.2vw 0 0 0;
}

.mar2-l {
  margin: 0 0 0 1.2vw;
}

.mar2-r {
  margin: 0 1.2vw 0 0;
}

.mar2-b {
  margin: 0 0 1.2vw 0;
}

.mar2-tb {
  margin: 1.2vw 0;
}

.mar2-rl {
  margin: 0 1.2vw;
}

.mar3 {
  margin: 1.5vw;
}

.mar3-t {
  margin: 1.5vw 0 0 0;
}

.mar3-l {
  margin: 0 0 0 1.5vw;
}

.mar3-r {
  margin: 0 1.5vw 0 0;
}

.mar3-b {
  margin: 0 0 1.5vw 0;
}

.mar3-tb {
  margin: 1.5vw 0;
}

.mar3-rl {
  margin: 0 1.5vw;
}

.mar4 {
  margin: 2vw;
}

.mar4-t {
  margin: 2vw 0 0 0;
}

.mar4-l {
  margin: 0 0 0 2vw;
}

.mar4-r {
  margin: 0 2vw 0 0;
}

.mar4-b {
  margin: 0 0 2vw 0;
}

.mar4-tb {
  margin: 2vw 0;
}

.mar4-rl {
  margin: 0 2vw;
}

.mar-card {
  margin: 1vw 1.3vw;
}

.mar-we {
  margin: 0 2.85vw;
}

.mart40 {
  margin: 40px 0 0 0;
}

.mart100 {
  margin: 100px 0 0 0;
}

/* / Line Height / */

.linelr {
  line-height: 80px;
}

.linemd {
  line-height: 60px;
}

.linexs {
  line-height: 56px;
}
.linesm {
  line-height: 50px;
}

.linevs {
  line-height: 44px;
}

.line1 {
  line-height: 40px;
}

.line2 {
  line-height: 36px;
}

.line3 {
  line-height: 32px;
}

.line4 {
  line-height: 28px;
}

.line5 {
  line-height: 24px;
}

/* / Positions / */

.ps-ab {
  position: absolute;
}

.ps-ab-all0 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.ps-ab-tp0 {
  position: absolute;
  top: 0;
}

.ps-ab-rt0 {
  position: absolute;
  right: 0;
}

.ps-ab-lt0 {
  position: absolute;
  left: 0;
}

.ps-ab-bt0 {
  position: absolute;
  bottom: 0;
}

.ps-ab-tprt0 {
  position: absolute;
  top: 0;
  right: 0;
}

.ps-ab-tplt0 {
  position: absolute;
  top: 0;
  left: 0;
}

.ps-ab-btrt0 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.ps-ab-btlt0 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ps-ab-bttp0 {
  position: absolute;
  bottom: 0;
  top: 0;
}

.ps-ab-rtlt0 {
  position: absolute;
  right: 0;
  left: 0;
}

/* / Font Sizes / */

.font-xlr {
  font-size: 4.6153vw;
  /* 60px */
}

.font-lr {
  font-size: 3.846vw;
  /* 50px */
}

.font-slr {
  font-size: 3.0769vw;
  /* 40px */
}

.font-xmd {
  font-size: 3.23vw;
  /* 46px */
}

.font-md {
  font-size: 2.769vw;
  /*36px */
}

.font-xs {
  font-size: 2.461vw;
  /* 32px */
}

.font-xsv {
  font-size: 2.307vw; /*30px*/
}

.font-xxs {
  font-size: 2.15vw;
  /*28px*/
}

.font-s {
  font-size: 1.846vw;
  /* 24px */
}

.font-sv {
  font-size: 1.692vw;
  /*22px*/
}

.font-xxvs {
  font-size: 1.538vw;
  /* 20px */
}

.font-xvs {
  font-size: 1.384vw;
  /*18px */
}

.font-vs {
  font-size: 1.23vw;
  /* 16px*/
}

.font-xvsss {
  font-size: 1.0769vw;
  /* 14px */
}

.font-xvss {
  font-size: 0.923vw;
  /* 12px */
}

/* / Font weights / */

.ft-w9 {
  font-weight: 900;
}

.ft-w8 {
  font-weight: 800;
}

.ft-w7 {
  font-weight: 700;
}

.ft-w6 {
  font-weight: 600;
}

.ft-w5 {
  font-weight: 500;
}

.ft-w4 {
  font-weight: 400;
}

@font-face {
  font-family: "gotham";
  src: url(../Gotham-Font/Gotham-Black.otf) format("truetype");
}

@font-face {
  font-family: "gotham-xthin";
  src: url(../Gotham-Font/Gotham-XLight.otf) format("truetype");
}

@font-face {
  font-family: "gotham-bold";
  src: url(../Gotham-Font/Gotham-Bold.otf) format("truetype");
}

@font-face {
  font-family: "gotham-thin";
  src: url(../Gotham-Font/GothamLight.ttf) format("truetype");
}

@font-face {
  font-family: "gotham-medium";
  src: url(../Gotham-Font/GothamMedium.ttf) format("truetype");
}

@font-face {
  font-family: "gotham-xmedium";
  src: url(../Gotham-Font/GothamMedium_1.ttf) format("truetype");
}

.font-gotham {
  font-family: "gotham", sans-serif;
}

.font-xmedium {
  font-family: "gotham-xmedium", sans-serif;
}

.font-bold {
  font-family: "gotham-bold", sans-serif;
}

.font-thin {
  font-family: "gotham-thin", sans-serif;
}

.font-medium {
  font-family: "gotham-medium", sans-serif;
}

.font-xthin {
  font-family: "gotham-xthin", sans-serif;
}

/*Boder radius*/

.boder5 {
  border-radius: 5px;
}
.border10 {
  border-radius: 10px;
}
.border15 {
  border-radius: 15px;
}

/* border */

.border {
  border: 1px solid #031f4b;
}
.borderr {
  border-right: 1px solid #031f4b;
}
.bordert {
  border-top: 1px solid #031f4b;
}
.borderb {
  border-bottom: 1px solid #031f4b;
}
.borderl {
  border-left: 1px solid #031f4b;
}

/* / grid  / */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.gap10 {
  gap: 10px;
}

/* / Header / */

.logo-flex {
  width: 20%;
}

.logo-flex img {
  width: 90%;
}

.header-menu {
  width: 80%;
}

.drop-box,
.mobdrop-box {
  position: initial !important;
  padding-right: 20px;
  cursor: pointer;
}

.drop-box a,
.mobdrop-box a {
  position: relative;
}

.drop-box .downarrow::before,
.mobdrop-box .downarrow::before,
.drop-box .downarrow::after,
.mobdrop-box .downarrow::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background: var(--myClrDark);
  border-radius: 50%;
  position: absolute;
  right: -14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.drop-box:hover .downarrow::before,
.mobMenuTrigger.active .downarrow::before,
.drop-box:hover .downarrow::after,
.mobMenuTrigger.active .downarrow::after {
  width: 2px;
  height: 7px;
  border-radius: 0;
  top: 50%;
  right: -10px;
}

.drop-box:hover .downarrow::before,
.mobMenuTrigger.active .downarrow::before {
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
}

.drop-box:hover .downarrow::after,
.mobMenuTrigger.active .downarrow::after {
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: end;
  /* / / height: var(--headerHeight); / / */
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.navigation li {
  position: relative;
  padding: 0 25px;
  height: 100%;
  /* / / line-height: var(--headerHeight); / / */
}

.navigation li:last-of-type {
  padding-right: 0;
}

.navigation li a {
  font-size: 16px;
  color: black;
  font-family: "gotham-medium", sans-serif;
  text-transform: uppercase;
}

.navigation li:hover a {
  color: #1973d1;
  /* / color: #031f4b; / */
  width: 100%;
}
/* #nav ul li .active {
  color: #1973d1;
  }  */
.desk-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drop {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 5%;
  background: white;
  /* / / background: var(--myClrLight); / // */
  width: 100%;
  padding: 5px 0 16px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  box-shadow: 0 30px 28px rgba(0, 0, 0, 0.05);
}

.drop .f-col {
  padding: 0 8px;
  /* / width: 20%; / */
  width: 360px;
}

.desk-header {
  height: 80px;
  z-index: 999;
  background: white;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.drop ul {
  /* / / max-width: 1088px; / / */
  display: flex;
  justify-content: center;
  margin: auto;
}

.drop ul li {
  margin-right: 0;
}

.drop-box:hover:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 37px;
  content: "";
}

.fixHeader .drop-box:hover:after {
  height: 30px;
}

.fixHeader .navigation {
  height: var(--headerHeightFixed);
}

.fixHeader .navigation li {
  line-height: var(--headerHeightFixed);
}

.drop-box:hover .drop {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  pointer-events: auto;
  top: 100%;
}

.col1 {
  /* / background: rgba(255, 93, 125, 0.1); / */
  background: #edf6fc94;
}

.col2 {
  /* / background: rgba(88, 87, 249, 0.1); / */
  background: #edf6fc94;
}

.col3 {
  /* background: rgba(89, 37, 125, 0.1); */
  background: #edf6fc94;
}

.dropbox-cont {
  padding: 20px;
  height: 100%;
  border-radius: 7px;
  text-transform: initial;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.dropbox-cont > div {
  position: relative;
  z-index: 1;
}

.dropbox-cont:after {
  content: "";
  background-size: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% + 30px);
  opacity: 0.1;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
}

.dropbox-cont.col1:after {
  background: transparent url(../images/header-back.svg) repeat-x 0 80%;
  background-size: 120%;
}

.dropbox-cont.col2:after {
  /* / background: transparent / */
  /* / url(https://ik.imagekit.io/2eribsa8w/wave2_nfEiloOkqq.svg) repeat-x 0 80%; / */
  background: transparent url(../images/header-back.svg) repeat-x 0 80%;
  background-size: 120%;
}

.dropbox-cont.col3:after {
  /* / background: transparent / */
  /* / url(https://ik.imagekit.io/2eribsa8w/wave3_zvDm6IWxql.svg) repeat-x 0 80%; / */
  background: transparent url(../images/header-back.svg) repeat-x 0 80%;
  background-size: 120%;
}

.dropbox-cont:hover:after {
  background-position: 100% 180%;
  top: -100%;
  background-size: 200%;
}

.dropbox-cont:hover .dropFlex img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.dropbox-cont h6 {
  font-family: "gotham-medium", sans-serif;
  font-size: 32px;
  color: #031f4b;
  line-height: 1;
  margin: 0 0 5px 0;
}

.dropbox-cont p {
  font-family: "gotham-medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #031f4b;
  margin: 5px 0;
}

/* .header-service .service-link,
.header-work .work-link,
.header-about .about-link,
.header-client .client-link {
  color: #ff3968;
} */
.dropFlex {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.dropFlex p {
  width: 100%;
}

.dropFlex img {
  margin-bottom: 5px;
  width: 30px;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.frontback {
  -webkit-animation: movefrom 1s infinite;
  animation: movefrom 1s infinite;
}

@keyframes movefrom {
  from {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes movefrom {
  from {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*FOOTER DESIGN */

.design-btn {
  margin-bottom: 30px;
}

button[type="submit"] {
  border: none;
  border-radius: 8px;
  background-color: transparent;
  border: #cacaca solid 1px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

button[type="submit"]::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 8px;
  z-index: -1;
}

button[type="submit"]:hover::before {
  background-color: #031f4b;

  animation: loadingWave 0.3s linear;
}

button[type="submit"]:hover {
  color: #edf6fc;
}

@keyframes loadingWave {
  0% {
    clip-path: polygon(
      0% 100%,
      100% 100%,
      99% 100%,
      81% 100%,
      64% 100%,
      46% 100%,
      29% 100%,
      14% 100%,
      0 100%
    );
  }

  10% {
    clip-path: polygon(
      0% 100%,
      100% 100%,
      100% 90%,
      84% 94%,
      66% 95%,
      47% 94%,
      31% 95%,
      14% 96%,
      0 94%
    );
  }

  20% {
    clip-path: polygon(
      0% 100%,
      100% 100%,
      100% 74%,
      81% 72%,
      63% 72%,
      44% 75%,
      33% 77%,
      16% 78%,
      0 74%
    );
  }

  40% {
    clip-path: polygon(
      0% 100%,
      100% 100%,
      100% 53%,
      85% 55%,
      67% 58%,
      44% 54%,
      30% 48%,
      15% 47%,
      0 49%
    );
  }

  60% {
    clip-path: polygon(
      0% 100%,
      100% 100%,
      100% 24%,
      86% 25%,
      69% 29%,
      53% 34%,
      37% 38%,
      18% 40%,
      0 38%
    );
  }

  80% {
    clip-path: polygon(
      0% 100%,
      100% 100%,
      100% 22%,
      84% 29%,
      67% 31%,
      45% 27%,
      26% 17%,
      12% 14%,
      0 15%
    );
  }

  90% {
    clip-path: polygon(
      0% 100%,
      100% 100%,
      100% 5%,
      86% 10%,
      73% 10%,
      55% 6%,
      33% 3%,
      15% 5%,
      0 9%
    );
  }

  100% {
    clip-path: polygon(
      0% 100%,
      100% 100%,
      100% 0,
      86% 0,
      71% 0,
      55% 0,
      34% 0,
      18% 0,
      0 0
    );
  }
}

.footer {
  font-family: "gotham-thin", sans-serif;
}

.container {
  margin: auto;
}

ul {
  list-style: none;
}

.footer-col-2 h4 {
  position: relative;
  cursor: pointer;
}

.footer-col-2 h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #edf6fc;
  height: 2px;
  width: 50px;
  box-sizing: border-box;
}

.footer-col-2 ul li:not(:last-child) {
  font-family: "gotham-thin", sans-serif;
}

.footer-col-1 p {
  text-decoration: none;
  font-family: "gotham-thin", sans-serif;
}

.footer-col-2 ul li {
  text-decoration: none;
  font-weight: 300;
  font-family: "gotham-thin", sans-serif;
}

.footer-col-2 li {
  cursor: pointer;
}

.footer-col-2 ul li a {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  font-family: "gotham-thin", sans-serif;
}

.footer-col-2 ul li a:hover {
  color: #edf6fc;
  padding-left: 8px;
}

@font-face {
  font-family: "light";
  src: url(../fonts/gilroy-light-webfont.woff2) format("woff2"),
    url(../fonts/gilroy-light-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "extrabold";
  src: url(../fonts/gilroy-extrabold-webfont.woff2) format("woff2"),
    url(../fonts/gilroy-extrabold-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.navbar {
  display: none;
}

/* 280 to 760 responsive */

@media screen and (min-width: 280px) and (max-width: 760px) {
  /* Header */

  .desk-header {
    display: none;
  }

  /* Mobile-Header */

  .navbar {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5vw 0 4vw 0px;
    background-color: #061993;
    position: relative;
  }
  .navbar .nav-header {
    display: inline;
    padding-left: 10vw;
  }
  .navbar .nav-header .nav-logo {
    display: inline-block;
    width: 40vw;
  }
  .navbar .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  .navbar .nav-links a {
    text-decoration: none;
    font-weight: 550;
    color: white;
  }
  /* Hover effects */
  .navbar .nav-links a:hover {
    background-color: #0000004d;
  }

  /* responsive navbar toggle button */
  .navbar #nav-check,
  .navbar .nav-btn {
    display: none;
  }

  @media (max-width: 760px) {
    .navbar {
      display: flex;
    }

    .navbar .nav-btn {
      display: flex;
      top: 0px;
      right: 0px;
      padding-right: 10vw;
    }

    .navbar .nav-btn label {
      display: inline-block;
    }

    .navbar .nav-btn label span {
      display: block;
      height: 6px;
      width: 25px;
      border-top: 3px solid #eee;
    }

    .navbar .nav-btn label:hover,
    .navbar #nav-check:checked ~ .nav-btn label {
      transition: all 0.5s ease;
    }

    .navbar .nav-links {
      position: absolute;
      display: block;
      text-align: center;
      width: 100%;
      background-color: #1973d1;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 56px;
      right: 0px;
      z-index: 1;
    }

    .navbar .nav-links a {
      padding: 5vw 0;
      display: block;
    }

    .navbar ul li a {
      border-bottom: 1px solid #d1d1d1;
    }

    /* when nav toggle button not checked */
    .navbar #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }

    /* when nav toggle button is checked */
    .navbar #nav-check:checked ~ .nav-links {
      height: calc(100vh - 60px);
      overflow-y: auto;
    }
    .navbar .nav-links .loginBtn {
      padding: 10px 40px;
      margin: 20px;
      font-size: 18px;
      font-weight: bold;
      color: #090e5a;
    }
    /* Responsive dropdown code */
    .navbar .nav-links .dropdown,
    .navbar .nav-links .dropdown2 {
      float: none;
      width: 100%;
    }
    .navbar .nav-links .drop-content,
    .navbar .nav-links .drop-content2 {
      position: relative;
      background-color: #dcdcfa;
      top: 0px;
      left: 0px;
    }
    /* Text color */
    .navbar .nav-links .drop-content a {
      color: #090e5a;
    }
  }

  /* Dropdown menu CSS code */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .drop-content,
  .drop-content2 {
    display: none;
    position: absolute;
    background-color: #1b4cd3;
    min-width: 120px;
    font-size: 16px;
    top: 34px;
    z-index: 1;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
  }
  /* on hover show dropdown */
  .dropdown:hover .drop-content,
  .dropdown2:hover .drop-content2 {
    display: block;
  }
  /* drondown links */
  .drop-content a {
    padding: 12px 10px;
    border-bottom: 1px solid rgb(197, 197, 250);
    display: block;
    transition: all 0.5s ease !important;
  }
  .dropBtn .drop-content a:hover {
    background-color: rgb(230, 230, 230);
  }
  .dropdown:hover .dropBtn,
  .dropdown2:hover .dropBtn2 {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .dropdown2 .drop-content2 {
    position: absolute;
    left: 120px;
    top: 126px;
  }
  .dropBtn2 i {
    margin-left: 15px;
  }

  /* Width */

  .mw100 {
    width: 100%;
  }

  .mw90 {
    width: 90%;
  }

  .mw80 {
    width: 80%;
  }

  .mw50 {
    width: 50%;
  }

  .mw45 {
    width: 45%;
  }

  .mw40 {
    width: 40%;
  }

  .mw30 {
    width: 30%;
  }

  .mw25 {
    width: 25%;
  }

  /* Text Align  */

  .mtxc {
    text-align: center;
  }

  .mtxs {
    text-align: start;
  }

  .mtxe {
    text-align: end;
  }

  /* margin */

  .mmar0 {
    margin: 0;
  }

  /* padding */

  .mpad0 {
    padding: 0;
  }

  .mpadb-tb {
    padding: 2.6vw 0;
  }

  .mpad1 {
    padding: 4vw;
  }

  .mpad1-tb {
    padding: 4vw 0;
  }

  .mpad1-rl {
    padding: 0 4vw;
  }

  .mpad1-t {
    padding: 4vw 0 0 0;
  }

  .mpad1-b {
    padding: 0 0 0 4vw;
  }

  .mpad1-r {
    padding: 0 4vw 0 0;
  }

  .mpad1-l {
    padding: 0 0 0 4vw;
  }

  .mpad2 {
    padding: 5vw;
  }

  .mpad2-tb {
    padding: 5vw 0;
  }

  .mpad2-rl {
    padding: 0 5vw;
  }

  .mpad2-t {
    padding: 5vw 0 0 0;
  }

  .mpad2-b {
    padding: 0 0 0 5vw;
  }

  .mpad2-r {
    padding: 0 5vw 0 0;
  }

  .mpad2-l {
    padding: 0 0 0 5vw;
  }

  .mpad3 {
    padding: 6vw;
  }

  .mpad3-tb {
    padding: 6vw 0;
  }

  .mpad3-rl {
    padding: 0 6vw;
  }

  .mpad3-t {
    padding: 6vw 0 0 0;
  }

  .mpad3-b {
    padding: 0 0 0 6vw;
  }

  .mpad3-r {
    padding: 0 6vw 0 0;
  }

  .mpad3-l {
    padding: 0 0 0 6vw;
  }

  .mpad4 {
    padding: 7vw;
  }

  .mpad4-tb {
    padding: 7vw 0;
  }

  .mpad4-rl {
    padding: 0 7vw;
  }

  .mpad4-t {
    padding: 7vw 0 0 0;
  }

  .mpad4-b {
    padding: 0 0 0 7vw;
  }

  .mpad4-r {
    padding: 0 7vw 0 0;
  }

  .mpad4-l {
    padding: 0 0 0 7vw;
  }

  .mpad5 {
    padding: 8vw;
  }

  .mpad5tb {
    padding: 8vw 0;
  }

  .mpad5rl {
    padding: 0 8vw;
  }

  .mpad5t {
    padding: 8vw 0 0 0;
  }

  .mpad5b {
    padding: 0 0 0 8vw;
  }

  .mpad5r {
    padding: 0 8vw 0 0;
  }

  .mpad5l {
    padding: 0 0 0 8vw;
  }

  /* Font-Sizes */

  .pbh {
    font-size: 5vw;
  }

  .pbhl {
    font-size: 4vw;
  }

  .pbc {
    font-size: 4vw;
  }

  .pqh {
    font-size: 3.4vw;
  }

  .pc {
    font-size: 3vw;
  }

  /* Line-height */

  .mline1 {
    line-height: 5vw; /* 16px */
  }

  .mline2 {
    line-height: 5.625vw; /* 18px */
  }

  .mline3 {
    line-height: 6.25vw; /* 20px */
  }

  .mline4 {
    line-height: 6.875vw; /* 22px */
  }

  .mline5 {
    line-height: 7.5vw; /* 24px */
  }

  .mline6 {
    line-height: 8.75vw; /* 28px */
  }

  .mline7 {
    line-height: 9.375vw; /* 30px */
  }

  .mline8 {
    line-height: 10vw; /* 32px */
  }
  /* alignment */

  .clr {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .w80 {
    width: 85%;
  }

  /* Header */

  .logo-flex {
    width: 25%;
  }

  .desk-header .container {
    align-items: flex-start;
  }

  .navigation li {
    padding: 0 1.2vw;
  }

  .navigation li a {
    font-size: 1.5vw;
  }

  .drop .f-col {
    width: 30%;
  }

  .dropbox-cont {
    padding: 2.4vw 1.6vw;
  }

  .dropbox-cont h6 {
    font-size: 3.2vw;
  }

  .dropbox-cont p {
    font-size: 2vw;
    line-height: 2.8vw;
  }

  /* Banner */

  .font-xvs {
    font-size: 2.4vw;
  }

  .font-md {
    font-size: 3vw;
  }

  .linevs {
    line-height: 4vw;
  }

  .font-xsv {
    font-size: 1.8vw;
  }

  .font-xxvs {
    font-size: 1.8vw;
  }

  .tfont-xxvs {
    font-size: 2.4vw;
  }

  .tfont-xmd {
    font-size: 3vw;
  }

  .line2 {
    line-height: 3.4vw;
  }

  .tsv {
    font-size: 1.8vw;
  }

  .tmd {
    font-size: 2.6vw;
  }

  .tpad1-tb {
    padding: 2vw 0;
  }

  .tline1 {
    line-height: 3.2vw;
  }

  .bw12 {
    width: 16vw;
  }

  /* Footer */

  .tfontp {
    font-size: 1.4vw;
    width: 100%;
    line-height: 2.4vw;
  }

  .tfontl {
    font-size: 1.4vw;
    padding: 1vw 0 0 0;
  }

  .tw20 {
    width: 20%;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1299px) {
  /* Header */

  .desk-header .container {
    justify-content: flex-start;
  }

  .navigation li {
    padding: 0 1vw;
  }

  /* Banner */

  .tsv {
    font-size: 1.6vw;
  }

  .bw12 {
    width: 16vw;
    font-size: 1.8vw;
  }

  /* Footer */

  .tfontp {
    font-size: 1.4vw;
  }

  .tfontl {
    font-size: 1.3vw;
  }

  .tw85 {
    width: 85%;
  }
}

@media screen and (min-width: 1300px) and (max-width: 2560px) {
  .linevs {
    line-height: 3.2vw;
  }
  .line2 {
    line-height: 2.3vw;
  }
}
