body {
  margin: 0;
}

/* / width / */

.w100 {
  width: 100%;
}

.w95 {
  width: 95%;
}

.w90 {
  width: 90%;
}

.w85 {
  width: 85%;
}

.w80 {
  width: 80%;
}

.w75 {
  width: 75%;
}

.w70 {
  width: 70%;
}

.w65 {
  width: 65%;
}

.w60 {
  width: 60%;
}

.w55 {
  width: 55%;
}

.w50 {
  width: 50%;
}

.w45 {
  width: 45%;
}

.w40 {
  width: 40%;
}

.w35 {
  width: 35%;
}

.w30 {
  width: 30%;
}

.w25 {
  width: 25%;
}

.w20 {
  width: 20%;
}

.w18 {
  width: 18%;
}

.w15 {
  width: 15%;
}

.w10 {
  width: 10%;
}

.w5 {
  width: 5%;
}

.w33 {
  width: 33%;
}

.w16 {
  width: 16.666666%;
}

/* Height in VH */

.ht100 {
  height: 100vh;
}

.ht90 {
  height: 90vh;
}

.ht80 {
  height: 80vh;
}

.ht75 {
  height: 75vh;
}

.ht70 {
  height: 70vh;
}

.ht60 {
  height: 60vh;
}

.ht50 {
  height: 50vh;
}

/* Height */

.h100 {
  height: 100%;
}

.h90 {
  height: 90%;
}

.h80 {
  height: 80%;
}

.h75 {
  height: 75%;
}

.h70 {
  height: 70%;
}

.h60 {
  height: 60%;
}

/* / flex center / */

.ab-fx-center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fx-dc {
  display: flex;
  flex-direction: column;
}

.fx-dc-all-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fx-dc-acenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fx-dc-jcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fx-spbtw {
  display: flex;
  justify-content: space-between;
}

.fx-dc-spbtw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fx-spev {
  display: flex;
  justify-content: space-evenly;
}

.fx-dr {
  display: flex;
  flex-direction: row;
}

.fx-dr-all-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fx-dr-acenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fx-dr-jcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fx-wrp {
  display: flex;
  flex-wrap: wrap;
}

/* / Tags / */

/* h1 {
  font-size: 3vw;
}
h2 {
  font-size: 3vw;
}
h3 {
  font-size: 2.1vw;
}
h4 {
  font-size: 0.8vw;
}
h5 {
  font-size: 0.6vw;
}
h6 {
  font-size: 0.5vw;
}

p {
    font-size: 1.5vw;
} */

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

a:active,
a:hover,
a:focus {
  outline: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
  border: 0;
  /* / vertical-align: middle; / */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* / Color / */

.dg-blue {
  color: #031f4b;
}

.d-grey {
  color: #394963;
}

.d-blue {
  color: #061993;
}

.l-blue {
  color: #1973d1;
}

.lg-bluec {
  color: #8bbef5;
}

.wl-blue {
  color: #edf6fc;
}

.black {
  color: black;
}

body {
  --primary-blue: #031f4b;
  /* dark-blue */
  --primary-gray: #394963;
  /* dark-grey */
  --md-blue: #061993;
  /* medium-blue */
  --lg-blue: #1973d1;
  /* light-blue */
  --grey-blue: #8bbef5;
  /* dark-blue */
  --white-blue: #edf6fc;
  /* dark-blue */
  --white: #ffffff;
  /* white */
  --black: #000000;
  /* black */
  --primary-lighter-color: #bcbfc4;
  --primary-darker-color: #121926;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

.primary-col {
  background-color: var(--primary-blue);
}

.primary-col2 {
  background-color: var(--primary-gray);
}

.md-blue {
  background-color: var(--md-blue);
}

.lg-blue {
  background-color: var(--lg-blue);
}

.grey-blue {
  background-color: var(--grey-blue);
}

.white-blue {
  background-color: var(--white-blue);
}

/* / text-align / */

.txc {
  text-align: center;
}

.txs {
  text-align: start;
}

.txe {
  text-align: end;
}

/* / Text decoration / */

.tx-dec-n {
  text-decoration: none;
}

.tx-dec-n {
  text-decoration: none;
}

/* / Padding / */

.pad1 {
  padding: 1vw;
}

.pad1-t {
  padding-top: 1vw;
}

.pad1-l {
  padding-left: 1vw;
}

.pad1-r {
  padding-right: 1vw;
}

.pad1-b {
  padding-bottom: 1vw;
}

.pad1-tb {
  padding: 1vw 0;
}

.pad1-rl {
  padding: 0 1vw;
}

.pad2 {
  padding: 1.2vw;
}

.pad2-t {
  padding-top: 1.2vw;
}

.pad2-l {
  padding-left: 1.2vw;
}

.pad2-r {
  padding-right: 1.2vw;
}

.pad2-b {
  padding-bottom: 1.2vw;
}

.pad2-tb {
  padding: 1.2vw 0;
}

.pad2-rl {
  padding: 0 1.2vw;
}

.pad3 {
  padding: 1.5vw;
}

.pad3-t {
  padding-top: 1.5vw;
}

.pad3-l {
  padding-left: 1.5vw;
}

.pad3-r {
  padding-right: 1.5vw;
}

.pad3-b {
  padding-bottom: 1.5vw;
}

.pad3-tb {
  padding: 1.5vw 0;
}

.pad3-rl {
  padding: 0 1.5vw;
}

.pad4 {
  padding: 2vw;
}

.pad4-t {
  padding-top: 2vw;
}

.pad4-l {
  padding-left: 2vw;
}

.pad4-r {
  padding-right: 2vw;
}

.pad4-b {
  padding-bottom: 2vw;
}

.pad4-tb {
  padding: 2vw 0;
}

.pad4-rl {
  padding: 0 2vw;
}

.pad30 {
  padding: 2.31vw 0;
}

.pad60 {
  padding: 4.61vw 0;
}

.padt50 {
  padding-top: 3.846vw;
}

.padb50 {
  padding-bottom: 3.846vw;
}

.padtb50 {
  padding: 3.846vw 0;
}

.padtb100 {
  padding: 7.692vw 0;
}

.padt100 {
  padding-top: 7.692vw;
}

.padb100 {
  padding-bottom: 7.692vw;
}

.pad5-tb {
  padding: 5px 0;
}

.pad5-rl {
  padding: 0 5px;
}

.padinput {
  padding: 15px 10px;
}

/* / Margin / */

.mar0 {
  margin: 0;
}

.mar1 {
  margin: 1vw;
}

.mar1-t {
  margin-top: 1vw;
}

.mar1-l {
  margin-left: 1vw;
}

.mar1-r {
  margin-right: 1vw;
}

.mar1-b {
  margin-bottom: 1vw;
}

.mar1-tb {
  margin: 1vw 0;
}

.mar1-rl {
  margin: 0 1vw;
}

.mar2 {
  margin: 1.2vw;
}

.mar2-t {
  margin-top: 1.2vw;
}

.mar2-l {
  margin-left: 1.2vw;
}

.mar2-r {
  margin-right: 1.2vw;
}

.mar2-b {
  margin-bottom: 1.2vw;
}

.mar2-tb {
  margin: 1.2vw 0;
}

.mar2-rl {
  margin: 0 1.2vw;
}

.mar3 {
  margin: 1.5vw;
}

.mar3-t {
  margin-top: 1.5vw;
}

.mar3-l {
  margin-left: 1.5vw;
}

.mar3-r {
  margin-right: 1.5vw;
}

.mar3-b {
  margin-bottom: 1.5vw;
}

.mar3-tb {
  margin: 1.5vw 0;
}

.mar3-rl {
  margin: 0 1.5vw;
}

.mar4 {
  margin: 2vw;
}

.mar4-t {
  margin: 2vw 0 0 0;
}

.mar4-l {
  margin-left: 2vw;
}

.mar4-r {
  margin-right: 2vw;
}

.mar4-b {
  margin-bottom: 2vw;
}

.mar4-tb {
  margin: 2vw 0;
}

.mar4-rl {
  margin: 0 2vw;
}

.mar-we {
  margin: 0 2.85vw;
}

.mart40 {
  margin-top: 40px;
}

.mart100 {
  margin-top: 100px;
}

/* / Line Height / */

.linelr {
  line-height: 80px;
}

.linemd {
  line-height: 60px;
}

.linesm {
  line-height: 50px;
}

.line1 {
  line-height: 40px;
}

.line2 {
  line-height: 36px;
}

.line3 {
  line-height: 32px;
}

.line4 {
  line-height: 28px;
}

.line5 {
  line-height: 24px;
}

/* / Positions / */

.ps-ab {
  position: absolute;
}

.ps-ab-all0 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.ps-ab-tp0 {
  position: absolute;
  top: 0;
}

.ps-ab-rt0 {
  position: absolute;
  right: 0;
}

.ps-ab-lt0 {
  position: absolute;
  left: 0;
}

.ps-ab-bt0 {
  position: absolute;
  bottom: 0;
}

.ps-ab-tprt0 {
  position: absolute;
  top: 0;
  right: 0;
}

.ps-ab-tplt0 {
  position: absolute;
  top: 0;
  left: 0;
}

.ps-ab-btrt0 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.ps-ab-btlt0 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ps-ab-bttp0 {
  position: absolute;
  bottom: 0;
  top: 0;
}

.ps-ab-rtlt0 {
  position: absolute;
  right: 0;
  left: 0;
}

/* / Font Sizes / */

.font-xlr {
  font-size: 4.6153vw;
  /* 60px */
}

.font-lr {
  font-size: 3.846vw;
  /* 50px */
}

.font-xmd {
  font-size: 3.23vw;
  /* 46px */
}

.font-md {
  font-size: 2.769vw;
  /*36px */
}

.font-xs {
  font-size: 2.461vw;
  /* 32px */
}

.font-xxs {
  font-size: 2.15vw;
  /*28px*/
}

.font-s {
  font-size: 1.846vw;
  /* 24px */
}

.font-xxvs {
  font-size: 1.538vw;
  /* 20px */
}

.font-xvs {
  font-size: 1.384vw;
  /*18px */
}

.font-vs {
  font-size: 1.23vw;
  /* 16px*/
}

.font-xvsss {
  font-size: 1.0769vw;
  /* 14px */
}

.font-xvss {
  font-size: 0.923vw;
  /* 12px */
}

/* / Font weights / */

.ft-w9 {
  font-weight: 900;
}

.ft-w8 {
  font-weight: 800;
}

.ft-w7 {
  font-weight: 700;
}

.ft-w6 {
  font-weight: 600;
}

.ft-w5 {
  font-weight: 500;
}

.ft-w4 {
  font-weight: 400;
}

@font-face {
  font-family: "gotham";
  src: url(../Gotham-Font/Gotham-Black.otf) format("truetype");
}

@font-face {
  font-family: "gotham-xthin";
  src: url(../Gotham-Font/Gotham-XLight.otf) format("truetype");
}

@font-face {
  font-family: "gotham-bold";
  src: url(../Gotham-Font/Gotham-Bold.otf) format("truetype");
}

@font-face {
  font-family: "gotham-thin";
  src: url(../Gotham-Font/GothamLight.ttf) format("truetype");
}

@font-face {
  font-family: "gotham-medium";
  src: url(../Gotham-Font/GothamMedium.ttf) format("truetype");
}

@font-face {
  font-family: "gotham-xmedium";
  src: url(../Gotham-Font/GothamMedium_1.ttf) format("truetype");
}

.font-gotham {
  font-family: "gotham", sans-serif;
}

.font-xmedium {
  font-family: "gotham-xmedium", sans-serif;
}

.font-bold {
  font-family: "gotham-bold", sans-serif;
}

.font-thin {
  font-family: "gotham-thin", sans-serif;
}

.font-medium {
  font-family: "gotham-medium", sans-serif;
}

.font-xthin {
  font-family: "gotham-xthin", sans-serif;
}

/* border */

.border {
  border: 1px solid #031f4b;
}
.borderr {
  border-right: 1px solid #031f4b;
}
.bordert {
  border-top: 1px solid #031f4b;
}
.borderb {
  border-bottom: 1px solid #031f4b;
}
.borderl {
  border-left: 1px solid #031f4b;
}
.bordertb {
  border: 1px 0 1px 0 solid #031f4b;
}
.borderlr {
  border: 0 1px 0 1px solid #031f4b;
}
.borderrb {
  border: 0 1px 1px 0 solid #031f4b;
}
.borderlb {
  border: 0 0 1px 1px solid #031f4b;
}
.bordertl {
  border: 1px 0 0 1px solid #031f4b;
}
.bordertr {
  border: 1px 1px 0 0 solid #031f4b;
}

/* / grid  / */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.gap10 {
  gap: 10px;
}

/* / Header / */

.logo-flex {
  width: 20%;
}

.logo-flex img {
  width: 90%;
}

.header-menu {
  width: 80%;
}

.drop-box,
.mobdrop-box {
  position: initial !important;
  padding-right: 20px;
  cursor: pointer;
}

.drop-box a,
.mobdrop-box a {
  position: relative;
}

.drop-box .downarrow::before,
.mobdrop-box .downarrow::before,
.drop-box .downarrow::after,
.mobdrop-box .downarrow::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background: var(--myClrDark);
  border-radius: 50%;
  position: absolute;
  right: -14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.drop-box:hover .downarrow::before,
.mobMenuTrigger.active .downarrow::before,
.drop-box:hover .downarrow::after,
.mobMenuTrigger.active .downarrow::after {
  width: 2px;
  height: 7px;
  border-radius: 0;
  top: 50%;
  right: -10px;
}

.drop-box:hover .downarrow::before,
.mobMenuTrigger.active .downarrow::before {
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
}

.drop-box:hover .downarrow::after,
.mobMenuTrigger.active .downarrow::after {
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  /* / / height: var(--headerHeight); / / */
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.navigation li {
  position: relative;
  padding: 0 25px;
  height: 100%;
  /* / / line-height: var(--headerHeight); / / */
}

.navigation li:last-of-type {
  padding-right: 0;
}

.navigation li a {
  font-size: 16px;
  color: black;
  font-family: "gotham-medium", sans-serif;
  text-transform: uppercase;
}

.navigation li:hover a {
  color: #ef2168;
  /* / color: #031f4b; / */
  width: 100%;
}

.desk-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drop {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 5%;
  background: white;
  /* / / background: var(--myClrLight); / // */
  width: 100%;
  padding: 5px 0 16px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  box-shadow: 0 30px 28px rgba(0, 0, 0, 0.05);
}

.drop .f-col {
  padding: 0 8px;
  /* / width: 20%; / */
  width: 360px;
}

.desk-header {
  height: 80px;
  z-index: 999;
  background: white;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.drop ul {
  /* / / max-width: 1088px; / / */
  display: flex;
  justify-content: center;
  margin: auto;
}

.drop ul li {
  margin-right: 0;
}

.drop-box:hover:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 37px;
  content: "";
}

.fixHeader .drop-box:hover:after {
  height: 30px;
}

.fixHeader .navigation {
  height: var(--headerHeightFixed);
}

.fixHeader .navigation li {
  line-height: var(--headerHeightFixed);
}

.drop-box:hover .drop {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  pointer-events: auto;
  top: 100%;
}

.col1 {
  /* / background: rgba(255, 93, 125, 0.1); / */
  background: #edf6fc94;
}

.col2 {
  /* / background: rgba(88, 87, 249, 0.1); / */
  background: #edf6fc94;
}

.col3 {
  /* background: rgba(89, 37, 125, 0.1); */
  background: #edf6fc94;
}

.dropbox-cont {
  padding: 20px;
  height: 100%;
  border-radius: 7px;
  text-transform: initial;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.dropbox-cont>div {
  position: relative;
  z-index: 1;
}

.dropbox-cont:after {
  content: "";
  background-size: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% + 30px);
  opacity: 0.1;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
}

.dropbox-cont.col1:after {
  background: transparent url(../images/header-back.svg) repeat-x 0 80%;
  background-size: 120%;
}

.dropbox-cont.col2:after {
  /* / background: transparent / */
  /* / url(https://ik.imagekit.io/2eribsa8w/wave2_nfEiloOkqq.svg) repeat-x 0 80%; / */
  background: transparent url(../images/header-back.svg) repeat-x 0 80%;
  background-size: 120%;
}

.dropbox-cont.col3:after {
  /* / background: transparent / */
  /* / url(https://ik.imagekit.io/2eribsa8w/wave3_zvDm6IWxql.svg) repeat-x 0 80%; / */
  background: transparent url(../images/header-back.svg) repeat-x 0 80%;
  background-size: 120%;
}

.dropbox-cont:hover:after {
  background-position: 100% 180%;
  top: -100%;
  background-size: 200%;
}

.dropbox-cont:hover .dropFlex img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.dropbox-cont h6 {
  font-family: "gotham-medium", sans-serif;
  font-size: 32px;
  color: #031f4b;
  line-height: 1;
  margin: 0 0 5px 0;
}

.dropbox-cont p {
  font-family: "gotham-medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #031f4b;
  margin: 5px 0;
}

/* .header-service .service-link,
.header-work .work-link,
.header-about .about-link,
.header-client .client-link {
  color: #ff3968;
} */
.dropFlex {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.dropFlex p {
  width: 100%;
}

.dropFlex img {
  margin-bottom: 5px;
  width: 30px;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.frontback {
  -webkit-animation: movefrom 1s infinite;
  animation: movefrom 1s infinite;
}

@keyframes movefrom {
  from {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes movefrom {
  from {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*FOOTER DESIGN */
.design-quote {
  font-family: "gotham-bold", sans-serif;
  padding: 50px 30px;
}

.design-btn {
  margin-bottom: 30px;
}

button[type="submit"] {
  padding: 15px 40px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  border: #cacaca solid 1px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

button[type="submit"]::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 8px;
  z-index: -1;
}

button[type="submit"]:hover::before {
  background-color: #031f4b;

  animation: loadingWave 0.3s linear;
}

button[type="submit"]:hover {
  color: #edf6fc;
}

@keyframes loadingWave {
  0% {
    clip-path: polygon(0% 100%,
        100% 100%,
        99% 100%,
        81% 100%,
        64% 100%,
        46% 100%,
        29% 100%,
        14% 100%,
        0 100%);
  }

  10% {
    clip-path: polygon(0% 100%,
        100% 100%,
        100% 90%,
        84% 94%,
        66% 95%,
        47% 94%,
        31% 95%,
        14% 96%,
        0 94%);
  }

  20% {
    clip-path: polygon(0% 100%,
        100% 100%,
        100% 74%,
        81% 72%,
        63% 72%,
        44% 75%,
        33% 77%,
        16% 78%,
        0 74%);
  }

  40% {
    clip-path: polygon(0% 100%,
        100% 100%,
        100% 53%,
        85% 55%,
        67% 58%,
        44% 54%,
        30% 48%,
        15% 47%,
        0 49%);
  }

  60% {
    clip-path: polygon(0% 100%,
        100% 100%,
        100% 24%,
        86% 25%,
        69% 29%,
        53% 34%,
        37% 38%,
        18% 40%,
        0 38%);
  }

  80% {
    clip-path: polygon(0% 100%,
        100% 100%,
        100% 22%,
        84% 29%,
        67% 31%,
        45% 27%,
        26% 17%,
        12% 14%,
        0 15%);
  }

  90% {
    clip-path: polygon(0% 100%,
        100% 100%,
        100% 5%,
        86% 10%,
        73% 10%,
        55% 6%,
        33% 3%,
        15% 5%,
        0 9%);
  }

  100% {
    clip-path: polygon(0% 100%,
        100% 100%,
        100% 0,
        86% 0,
        71% 0,
        55% 0,
        34% 0,
        18% 0,
        0 0);
  }
}

.footer {
  font-family: "gotham-thin", sans-serif;
  padding: 50px 50px;
}

.container {
  margin: auto;
}

ul {
  list-style: none;
}

.footer-col-2 h4 {
  margin: 0 0 35px 0;
  position: relative;
  cursor: pointer;
}

.footer-col-2 h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #edf6fc;
  height: 2px;
  width: 50px;
  box-sizing: border-box;
}

.footer-col-2 ul li:not(:last-child) {
  margin-bottom: 10px;
  font-family: "gotham-thin", sans-serif;
}

.footer-col-1 p {
  margin-top: 15px;
  text-decoration: none;
  font-family: "gotham-thin", sans-serif;
}

.footer-col-2 ul li {
  text-decoration: none;
  font-weight: 300;
  font-family: "gotham-thin", sans-serif;
}

.footer-col-2 li {
  cursor: pointer;
}

.footer-col-2 ul li a {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  font-family: "gotham-thin", sans-serif;
  margin-bottom: 10px;
}

.footer-col-2 ul li a:hover {
  color: #edf6fc;
  padding-left: 8px;
}