/* .banner-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
} */
.h1-heading {
  color: #1973d1;
}
.contents-ol {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 16px;
  position: relative;
  background: transparent;
  padding: 0;
}
.contents-ol:not(:last-child) a {
  color: #404040;
}
.contents-ol:not(:last-child) {
  padding-right: 0px;
  margin-right: 14px;
}
.heading-col {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.hh-1 {
  margin: 0 0 20px 0;
  width: fit-content;
  font-size: 27px;
  line-height: 1;
  font-family: "bold";
  background: transparent
    url(https://ik.imagekit.io/2eribsa8w/dots_lX3YUgQRrH.svg) repeat-x bottom;
  padding-bottom: 3px;
  transition: all 1s ease-in-out;
}
.child-class {
  flex-wrap: wrap;
  width: 80%;
}
.card {
  padding: 2vw 0;
  background: #f9f9f9;
  margin-bottom: 2.3vw;
  text-align: center;
  width: 28%;
  margin: 1vw 2vw;
  height: fit-content;
}
.content {
  text-align: start;
  padding-left: 0.7vw;
}
.card {
  padding: 2vw 0;
  background: #f9f9f9;
  margin-bottom: 30px;
  text-align: center;
  width: 28%;
  margin: 1vw 2vw;
  height: fit-content;
}
.ban-next {
  display: flex;
  justify-content: center;
}
.heading-col-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
