.banner-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.h1-heading {
  color: #1973d1;
}
.contents-ol {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 16px;
  position: relative;
  background: transparent;
  padding: 0;
}
.contents-ol:not(:last-child) a {
  color: #404040;
}
.contents-ol:not(:last-child) {
  padding-right: 0px;
  margin-right: 14px;
}
.heading-col {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.hh-1 {
  margin: 0 0 20px 0;
  width: fit-content;
  font-size: 27px;
  line-height: 1;
  font-family: "bold";
  background: transparent
    url(https://ik.imagekit.io/2eribsa8w/dots_lX3YUgQRrH.svg) repeat-x bottom;
  padding-bottom: 3px;
  transition: all 1s ease-in-out;
}
.child-class {
  flex-wrap: wrap;
  width: 80%;
}
.card {
  padding: 2vw 0;
  background: #f9f9f9;
  margin-bottom: 30px;
  text-align: center;
  width: 28%;
  margin: 1vw 2vw;
  height: fit-content;
}
.content {
  text-align: start;
  padding-left: 10px;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .banner-container {
    width: 100%;
    flex-direction: column;
  }
  .banner-img img {
    width: 100%;
  }
  .h1 {
    font-size: 32px;
    padding-left: 10px;
  }
  .font-xlr {
    font-size: 28px;
    line-height: 1.5;
    padding-left: 20px;
  }
  .w40 {
    width: 100%;
  }
  .w50 {
    width: 100%;
  }
  .fx-dc-all-center {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .next {
    width: 100%;
  }
  .fx-center,
  .font-xvs {
    font-size: 35px;
  }
  .font-xlr {
    font-size: 20px;
  }
  .heading-col {
    flex-direction: column;
  }
  .hh-1 {
    font-size: 23px;
    width: max-content;
    text-align: start;
  }
  .w50 {
    width: 100%;
  }
}
/* .font-xmd,
  .mar1-t {
    font-size: 28px;
    line-height: 1.2;
    text-align: start;
    padding-left: 10px;
  } */
.card {
  padding: 2vw 0;
  background: #f9f9f9;
  margin-bottom: 30px;
  text-align: center;
  width: 28%;
  margin: 1vw 2vw;
  height: fit-content;
}
@media screen and (min-width: 761px) and (max-width: 1020px) {
  .banner-container {
    width: 90%;
    display: flex;
  }
  .banner-img img {
    width: 80%;
  }
  .h1 {
    font-size: 35px;
    padding-left: 10px;
  }
  .font-xlr {
    font-size: 20px;
  }
  .w40 {
    width: 100%;
  }
  .w50 {
    width: 100%;
  }
  .fx-dc-all-center {
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .next {
    width: 100%;
  }
  .fx-center,
  .font-xvs {
    font-size: 35px;
  }
  .font-xlr {
    font-size: 20px;
  }
  .heading-col {
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    display: flex;
  }
  .hh-1 {
    font-size: 20px;
    font-weight: 700;
    width: max-content;
    text-align: start;
  }
  .w30 {
    width: 40%;
  }
}
@media screen and (min-width: 1021px) and (max-width: 1299px) {
  .banner-container {
    width: 100%;
    display: flex;
  }
  .banner-img img {
    width: 80%;
  }
  .h1 {
    font-size: 45px;
    padding-left: 10px;
  }
  .font-xlr {
    font-size: 30px;
  }
  .w40 {
    width: 100%;
  }
  .w50 {
    width: 100%;
  }
  .fx-dc-all-center {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .next {
    width: 100%;
  }
  .fx-center,
  .font-xvs {
    font-size: 30px;
  }
  .font-xlr {
    font-size: 30px;
  }
  .heading-col {
    flex-direction: column;
    flex-wrap: wrap;

    display: flex;
  }
  .hh-1 {
    width: 30%;
    font-size: 35px;
    width: max-content;
    text-align: start;
  }
}
.ban-next {
  display: flex;
  justify-content: center;
}
/* .fx-center,
  .font-xvs {
    font-size: 1.3vw;
  
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: inherit;
    color: #1973d1;
  } */
/* .section1 {
    width: 80%;
  } */
/* .section2 {
    display: flex;
    flex-wrap: wrap;
  } */

.heading-col-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
