/* * {
  font-family: "gotham-thin";
} */
.fnt-fmly {
  font-family: "gotham-thin", sans-serif;
  line-height: 1.5;
}
.main-heading {
  font-family: "gotham-bold";
  font-size: 0.8vw;
}
.fnt-fmly-nurture {
  font-family: "gotham-thin";
  font-weight: 600;
  line-height: 1.6;
  padding-right: 9vw;
  text-align: start;
  margin-bottom: 8vw;
}
.banner-next-content {
  text-align: initial;
  font-family: "gotham-bold";
  line-height: 1.2;
  margin-bottom: 7vw;
}
.fnt-ban-heading {
  font-family: "gotham-bold";
  text-align: initial;
}
.home li {
  padding-right: 4.2vw;
}
.dot {
  content: "";
  position: absolute;
  right: -2px;
  top: 40%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #404040;
}
.contents-ol-servicepage {
  font-family: "gotham-thin";
  display: inline-block;
  font-size: 1.3vw;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 1.2vw;
  position: relative;
  background: transparent;
  padding: 0;
}
.contents-ol-servicepage :not(:last-child) a {
  color: #404040;
}
.contents-ol-servicepage :not(:last-child) {
  padding-right: 0px;
  margin-right: 1.07vw;
}
.heading-col-2 {
  margin-bottom: 5.3vw;
}
.nurture-heading {
  font-family: "gotham-bold";
}

.content {
  text-align: inherit;
  padding-left: 2.6vw;
  margin-top: -19px;
}
.services-hover-card {
  margin-bottom: -18px;
}
.hh-1-service-page {
  margin: 0 0 20px 0;
  width: fit-content;
  font-size: 1.6vw;
  font-family: "gotham-thin", sans-serif;
  background: transparent
    url(https://ik.imagekit.io/2eribsa8w/dots_lX3YUgQRrH.svg) repeat-x bottom;
  padding-bottom: 3px;
  transition: all 1s ease-in-out;
}
.card-service-page {
  padding: 2vw 0;
  background: #f9f9f9;
  margin-bottom: 2.3vw;
  text-align: center;
  width: 27%;
  margin: 1vw 2vw;
  height: fit-content;
}
.card-box-service-page {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #8bbef5;
  width: 35%;
  display: flex;
  position: relative;
  padding: 60px;
}
.card-box-service-page:hover {
  box-shadow: 0 8px 8px 0 rgb(96, 91, 93);
}
.overlay-service-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #394963;
  color: white;

  transition: height 1s;
}
.overlay-service-page:hover {
  height: 0%;
  background: transparent
    url(https://ik.imagekit.io/2eribsa8w/wave1_i45hfFaDzg.svg) repeat-x 0 100%;
  opacity: 0.5;
}
.tools-img {
  width: 110px;
  height: 110px;
  margin: auto;
}
.our-services {
  padding-bottom: 1.9vw;
  padding-top: 2.3vw;
  font-family: "gotham-bold";
}
.tech-fnt {
  font-family: "gotham-bold";
}
.fnt {
  font-family: "gotham-thin", sans-serif;
}
.next-heading {
  font-family: "gotham-bold";
}
.fx-padhead {
  margin-top: 9vw;
}
