.home li {
  padding-right: 4.2vw;
}
.services-hover-card {
  margin-bottom: -18px;
}
.hh-1-service-page {
  margin: 0 0 20px 0;
  width: fit-content;
  font-size: 1.6vw;
  background: transparent
    url(https://ik.imagekit.io/2eribsa8w/dots_lX3YUgQRrH.svg) repeat-x bottom;
  padding-bottom: 3px;
  transition: all 1s ease-in-out;
}
.hh-1-service-page:hover {
  background-position: 0 100%;
}
.card-service-page {
  padding: 2vw 0;
  background: #f9f9f9;
  margin-bottom: 2.3vw;
  text-align: center;
  width: 27%;
  margin: 1vw 2vw;
  height: fit-content;
}
.tools-img {
  width: 110px;
  height: 110px;
  margin: auto;
}
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.card-service-page :hover {
  transform: scale(1.03);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: 0.4s ease-in-out;
}
