/* teams members */

.team-profile {
  position: relative;
  overflow: hidden;
}

.office-gallery {

  position: relative;
}

.gallery-box {
  margin-bottom: 30px;

}

.gallery-box img {
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

@media screen and (min-width: 280px) and (max-width: 760px) {
  .office-gallery {
    padding: 0;
  }

}