
/* teams members */

.team-profile {
  margin: 1.5vw 1.97vw;
}
/* Gallery Images */

.office-gallery {
  padding: 30px 130px;
  position: relative;
}
.gallery-box {
  margin-bottom: 30px;
}

.gallery-box img {
  flex: 33.33%;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.gallery-box img:hover {
  transform: scale(1.2);
}

