.elementor-2399 .elementor-element.elementor-element-88d2469 {
    padding: 20px 35px 15px 35px;
}

.elementor-2399 .elementor-element.elementor-element-95b2b44>.elementor-widget-container {
    margin: 0px 0px 28px 0px;
}

.elementor-2399 .elementor-element.elementor-element-6f6b722>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2399 .elementor-element.elementor-element-5957d6f>.elementor-widget-container {
    margin: 0px 0px 28px 0px;
}

.elementor-2399 .elementor-element.elementor-element-365a685>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2399 .elementor-element.elementor-element-aba8114>.elementor-widget-container {
    margin: 0px 0px 28px 0px;
}

.elementor-2399 .elementor-element.elementor-element-8fb4959>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2399 .elementor-element.elementor-element-ae7cce1>.elementor-widget-container {
    margin: 0px 0px 28px 0px;
}

.elementor-2399 .elementor-element.elementor-element-f13c882>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}