.elementor-4320 .elementor-element.elementor-element-7ac80be9>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4320 .elementor-element.elementor-element-7ac80be9:not(.elementor-motion-effects-element-type-background),
.elementor-4320 .elementor-element.elementor-element-7ac80be9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4320 .elementor-element.elementor-element-7ac80be9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4320 .elementor-element.elementor-element-7ac80be9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4320 .elementor-element.elementor-element-68675085>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-4320 .elementor-element.elementor-element-2423f4b2 .ct-logo img {
    max-height: 55px;
}

.elementor-4320 .elementor-element.elementor-element-2423f4b2>.elementor-widget-container {
    margin: 0px 0px 0px 5px;
}

.elementor-4320 .elementor-element.elementor-element-372e0915.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-4320 .elementor-element.elementor-element-372e0915>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-4320 .elementor-element.elementor-element-171b63ea .ct-nav-menu .ct-main-menu>li>a {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    line-height: 100px;
}

.elementor-4320 .elementor-element.elementor-element-171b63ea .ct-nav-menu .ct-main-menu>li {
    margin: 0px 14px 0px 14px;
}

.elementor-4320 .elementor-element.elementor-element-171b63ea>.elementor-widget-container {
    margin: 0px 2px 0px 0px;
}

.elementor-4320 .elementor-element.elementor-element-171b63ea {
    width: auto;
    max-width: auto;
}

.elementor-4320 .elementor-element.elementor-element-7935891c .ct-social-icon3 a:hover {
    color: #4F3DFF;
}

.elementor-4320 .elementor-element.elementor-element-7935891c>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
}

.elementor-4320 .elementor-element.elementor-element-7935891c {
    width: auto;
    max-width: auto;
}

.elementor-4320 .elementor-element.elementor-element-1a1fee87 {
    --divider-border-style: solid;
    --divider-color: #B1B1B1;
    --divider-border-width: 28px;
    width: auto;
    max-width: auto;
}

.elementor-4320 .elementor-element.elementor-element-1a1fee87 .elementor-divider-separator {
    width: 1px;
}

.elementor-4320 .elementor-element.elementor-element-1a1fee87 .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-4320 .elementor-element.elementor-element-1a1fee87>.elementor-widget-container {
    margin: 0px 20px 0px 20px;
}

.elementor-4320 .elementor-element.elementor-element-72c146aa {
    width: auto;
    max-width: auto;
}

.elementor-4320 .elementor-element.elementor-element-91b9d67 .ct-button-wrapper .btn {
    padding: 0px 24px 0px 24px;
    border-radius: 4px 4px 4px 4px;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 52px;
    color: #4F3DFF !important;
}

.elementor-4320 .elementor-element.elementor-element-91b9d67 .ct-button-wrapper .btn:not(.btn-ctext),
.elementor-4320 .elementor-element.elementor-element-91b9d67 .ct-button-wrapper .btn.btn-ctext:before {
    background-color: #EDEBFF !important;
    background-image: none !important;
}

.elementor-4320 .elementor-element.elementor-element-91b9d67 .ct-button-wrapper .btn:not(.btn-ctext):hover,
.elementor-4320 .elementor-element.elementor-element-91b9d67 .ct-button-wrapper .btn:not(.btn-ctext):focus,
.elementor-4320 .elementor-element.elementor-element-91b9d67 .ct-button-wrapper .btn.btn-ctext:hover:before {
    background: #4F3DFF !important;
}

.elementor-4320 .elementor-element.elementor-element-91b9d67 .ct-button-wrapper .btn:hover {
    color: #FFFFFF !important;
}

.elementor-4320 .elementor-element.elementor-element-91b9d67>.elementor-widget-container {
    margin: 0px 0px 0px 35px;
}

.elementor-4320 .elementor-element.elementor-element-91b9d67 {
    width: auto;
    max-width: auto;
}

@media(min-width:768px) {
    .elementor-4320 .elementor-element.elementor-element-68675085 {
        width: 18%;
    }
    .elementor-4320 .elementor-element.elementor-element-372e0915 {
        width: 81.666%;
    }
}