.elementor-6845 .elementor-element.elementor-element-cff8b3d {
    padding: 0px 30px 0px 30px;
}

.elementor-6845 .elementor-element.elementor-element-624d6b2>.elementor-element-populated {
    margin: 20px 0px 15px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-6845 .elementor-element.elementor-element-012729f .ct-heading .item--title {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.elementor-6845 .elementor-element.elementor-element-012729f>.elementor-widget-container {
    margin: 0px 10px 14px 0px;
    padding: 0px 0px 8px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #00000014;
}

.elementor-6845 .elementor-element.elementor-element-74ac744>.elementor-element-populated {
    margin: 20px 0px 15px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-6845 .elementor-element.elementor-element-0759590 .ct-heading .item--title {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.elementor-6845 .elementor-element.elementor-element-0759590>.elementor-widget-container {
    margin: 0px 10px 14px 0px;
    padding: 0px 0px 8px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #00000014;
}

.elementor-6845 .elementor-element.elementor-element-3a8409d>.elementor-element-populated {
    margin: 20px 0px 15px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-6845 .elementor-element.elementor-element-3387e62 .ct-heading .item--title {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.elementor-6845 .elementor-element.elementor-element-3387e62>.elementor-widget-container {
    margin: 0px 10px 14px 0px;
    padding: 0px 0px 8px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #00000014;
}

.elementor-6845 .elementor-element.elementor-element-92e2e63>.elementor-element-populated {
    margin: 20px 0px 15px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-6845 .elementor-element.elementor-element-6f9e3f0 .ct-heading .item--title {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.elementor-6845 .elementor-element.elementor-element-6f9e3f0>.elementor-widget-container {
    margin: 0px 10px 14px 0px;
    padding: 0px 0px 8px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #00000014;
}

@media(max-width:1024px) {
    .elementor-6845 .elementor-element.elementor-element-cff8b3d {
        padding: 0px 15px 0px 15px;
    }
    .elementor-6845 .elementor-element.elementor-element-624d6b2>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-6845 .elementor-element.elementor-element-74ac744>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-6845 .elementor-element.elementor-element-3a8409d>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-6845 .elementor-element.elementor-element-92e2e63>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}